<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IExampleService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/task2/Task2Service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IExampleService"
                contract="ServiceReference1.IExampleService" name="WSHttpBinding_IExampleService">
                <identity>
                    <userPrincipalName value="DESKTOP-ET9H8UT\Ja" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>